
<div *ngIf="loading">
  <md-spinner id="load" style="margin: 0 auto;"></md-spinner> <br/><br/><br/><br/>
</div>



<!--<div *ngFor="let er of globErrors">-->
  <!--<label for="email">{{er}}</label> <br/><br/>-->
<!--</div>-->

<div *ngIf="!isAlreadyLoggedIn" class="forform">

  <form id="form" (ngSubmit)="doregister()" #formm="ngForm">

    <div *ngFor="let er of globErrors">
      <label for="email">{{er}}</label> <br/><br/>
    </div>
    <!--server side errors for email field-->
    <label for="email" *ngFor="let er of emailErrors">{{er}}</label>
    <md-input-container id="email" dividerColor="{{setcol(emaill)}}">
      <input type="email" mdInput placeholder="Email" name="email" [(ngModel)]="user.email" #emaill="ngModel" pattern="{{emailPat}}" required>
    </md-input-container>

    <br/><br/>

    <!--server side errors-->
    <label for="password" *ngFor="let er of passErrors">{{er}}</label>
    <md-input-container id="password" dividerColor="{{setcol(passwordd)}}">
      <input type="password" mdInput placeholder="Password" name="password" [(ngModel)]="user.password" #passwordd="ngModel" required minlength="5">
    </md-input-container>

    <br/><br/>

    <!--server side errors-->
    <label for="username" *ngFor="let er of usernameErrors">{{er}}</label>
    <label>{{usernamee.validationMessage}}</label>
    <md-input-container id="username" dividerColor="{{setcol(usernamee)}}">
      <input type="text" mdInput placeholder="Username" name="username" [(ngModel)]="user.username" #usernamee="ngModel" required maxlength="40" minlength="5">
    </md-input-container>

    <br/><br/>
    <p *ngIf="!notRobot" style="color: red;">Do The Captcha</p>
    <re-captcha *ngIf="!notRobot" (captchaResponse)="handle_not_robot($event)" site_key="6LdN2RoUAAAAAMCdLrdgOFU6aP8CPiAWhAehiHgP"></re-captcha>
    <br/>

  <button disabled="{{!notRobot}}" md-raised-button color="primary" type="submit">{{formm.form.valid ? "Register" : "Invalid Inputs"}}</button>
  <button md-raised-button routerLink="/login" color="primary">Login</button>

  <br/>
</form>

</div>
