span {
  font-size: 20px;
  white-space:pre;
}

.wrong {
  background-color: red;
}

.correct {
  background-color: greenyellow;
}

.current {
  background-color: darkgray;
}

.text {
  height: 25.5em;
  line-height: 2em;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  border: 5px solid lightslategrey;
  border-radius: 10px;

  /*prevent user from selecting text*/
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

.line {
  padding-left: 10%;
}

textarea {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  border-radius: 5px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}

textarea:focus {
  background-color: #FFFFFF;
  outline-width: 0;
}

.before_start {
  text-align: center;
  width: 70%;
  margin:0 auto;
  color: darkcyan;
}
