<!--<div>-->
  <!--<span *ngFor="let c of text let ind = index" id="{{ind}}" [ngClass]="{'correct': correct_class(ind, box.value), 'wrong': wrong_class(ind, box.value), 'current': current_class(ind,-->
  <!--box.value)}"><span *ngIf="c != '\n'">{{c}}</span><span *ngIf="c == '\n'">&crarr;</span><p *ngIf="c == '\n'"></p></span>-->
<!--</div>-->


<div class="before_start" *ngIf="!can_start">
  <p style="font-size: 40px;">Remaining Time Before Competition Begins:</p>
  <div style="font-size: 80px;">
    {{competition.time_representation}}
  </div>
</div>

<div *ngIf="!started && can_start" class="before_start">
  <p style="font-size: 40px;">Remaining Time To Start:</p>
  <div style="font-size: 80px;">
  {{competition.time_representation}}
  </div>
  <br/>
  <h2 style="color: forestgreen;">You will automatically redirected to competition page after time finished or click Start to start sooner.</h2>
  <br/>
  <button style="width: 50px;" color="accent" md-raised-button (click)="start_sooner()">Start</button>
</div>


<div *ngIf="started && can_start">

  <div style="width: 70%; margin: 0 auto; text-align: center">
    <pre style="font-size: 20px">YOUR RANK: {{my_rank}}</pre>
    <md-progress-bar id="first"
                     color="accent"
                     mode="buffer"
                     [value]="(my_wpm / max_wpm) * 100"
                     [bufferValue]="(next_wpm / max_wpm) * 100">
    </md-progress-bar>
    <br/>
    <pre style="font-size: 20px" *ngIf="my_rank > 1">RANK AHEAD: {{my_rank - 1}}</pre>
    <md-progress-bar *ngIf="my_rank > 1"
      color="accent"
      mode="buffer"
      [value]="(next_wpm / max_wpm) * 100">
    </md-progress-bar>
  </div>
  <br/>
  <div class="text">
  <div *ngFor="let line of text let ind=index" class="line">

    <span *ngIf="ind >= start_line"><span>{{line[0]}}</span><span *ngFor="let c of line[1].split('') let cur_ind=index;" [ngClass]="{'correct': correct_class(line_char_count[ind] + cur_ind, box.value),
    'wrong': wrong_class(line_char_count[ind] + cur_ind, box.value), 'current': current_class(line_char_count[ind] + cur_ind, box.value)}"
      >{{c}}</span><span *ngIf="ind < text.length - 1"
      [ngClass]="{'correct': correct_class(line_char_count[ind + 1] - 1, box.value),
    'wrong': wrong_class(line_char_count[ind + 1] - 1, box.value), 'current': current_class(line_char_count[ind + 1] - 1, box.value)}">&crarr;</span></span>

  </div>
  </div>
  <br/><br/>
  <textarea disabled="{{finished}}" [(ngModel)]="typed" autofocus (blur)="box.focus()" placeholder="When Starts, Just Type" rows="5" cols="60" #box (keydown.tab)="check($event)" (keyup)="key_pressed()" id="txtarea"></textarea>
</div>
