<md-tab-group>

  <md-tab label="Upcoming Competitions">
    <table>
     <tr>
       <th>Competition Name</th>
       <th>Start</th>
       <th>Length</th>
       <th>Before Start</th>
       <th>Register</th>
     </tr>
     <tr *ngFor="let cmp of upcoming_competitions">
       <td>{{cmp.name}}</td>
       <td>
         <a target="_blank" href="{{link_to_local_time(cmp.start_time)}}">{{cmp.start_time}}</a>
       </td>
       <td>{{cmp.duration}}</td>
       <td>{{cmp.time_representation}}</td>
       <td>
         <button md-button (click)="register_competition(cmp.id)">Click To Register</button>
       </td>
     </tr>
   </table>
    <br/>
    <button style="margin: auto ; display: block;" md-icon-button color="warn" (click)="load_up_comp()">
      <md-icon>expand_more</md-icon>
    </button>

  </md-tab>

  <md-tab label="Past Competitions">
    <table>
      <tr>
        <th>Competition Name</th>
        <th>Start</th>
        <th>Length</th>
      </tr>
      <tr *ngFor="let cmp of past_competitions">
        <td>{{cmp.name}}</td>
        <td>
          <a target="_blank" href="{{link_to_local_time(cmp.start_time)}}">{{cmp.start_time}}</a>
        </td>
        <td>{{cmp.duration}}</td>
      </tr>
    </table>
  </md-tab>

</md-tab-group>
