<md-tab-group>

  <md-tab label="Upcoming Competitions">
    <table>
     <tr>
       <th>Competition Name</th>
       <th>Competition Timing</th>
       <th>Registration Close Time</th>
       <th>Length</th>
       <th>Before Start</th>
       <th>Register</th>
     </tr>
     <tr *ngFor="let cmp of upcoming_competitions">
       <td>{{cmp.name}}</td>
       <td>
         <a target="_blank" href="{{cmp.start_time_link}}">Start time</a>
         <br/>
         <a target="_blank" href="{{cmp.competition_close_time_link}}">Close time</a>
       </td>
       <td>
         <a href="{{cmp.registration_time_link}}" target="_blank">Registration Close Time</a>
       </td>
       <td>{{cmp.duration}} sec</td>
       <td #fuck>{{cmp.time_representation}} {{fuck.state}}</td>
       <td>
         <button *ngIf="cmp.registration_open && !cmp.is_registered" md-button (click)="register_competition(cmp.id)">Click To Register</button>
         <label *ngIf="!cmp.registration_open && !cmp.is_registered">{{cmp.registration_time_representation}}</label>
         <button md-button color="warn" *ngIf="cmp.is_registered" [routerLink]="['/compete', cmp.id]">Go to competition</button>
       </td>
     </tr>
   </table>
    <br/>
    <button style="margin: auto ; display: block;" md-icon-button color="warn" (click)="load_up_comp()">
      <md-icon>expand_more</md-icon>
    </button>

  </md-tab>

  <md-tab label="Past Competitions">
    <table>
      <tr>
        <th>Competition Name</th>
        <th>Start</th>
        <th>Length</th>
      </tr>
      <tr *ngFor="let cmp of past_competitions">
        <td>{{cmp.name}}</td>
        <td>
          <a target="_blank" href="{{cmp.link_to_local_time()}}">{{cmp.start_time}}</a>
        </td>
        <td>{{cmp.duration}}</td>
      </tr>
    </table>
    <br/>
    <button style="margin: auto ; display: block;" md-icon-button color="warn" (click)="load_past_comp()">
      <md-icon>expand_more</md-icon>
    </button>

  </md-tab>

</md-tab-group>
