table {
  width:80%;
  margin:0 auto;
}
table, th, td {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
th, td {
  padding: 17px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: lightblue;
}
table tr:nth-child(odd) {
  background-color:lightgrey;
}
table th {
  background-color: darkslategray;
  color: white;
}

a {
  color: black;
}
